.mission {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(212, 207, 207);
    margin: 15px;
    min-width: 200px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
  }
}
