.modal {
  &__overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01010137;
  }

  &__content-wrapper {
    width: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__close-button {
    align-self: flex-end;
    background-color: white;
    font-size: large;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
}
