.missions-section {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  &__heading {
    margin-bottom: 0px;
  }
  &__input {
    border: none;
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: large;
    &::placeholder {
      font-size: large;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
}

.missions {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
