.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .title {
    margin-bottom: 10px;
  }

  .separator {
    width: 150px;
    height: 3px;
    background-color: black;
    border-radius: 100%;
  }
}
